@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", "sans-serif";
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  background-color: #003554;
}

.nav-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.search-btn {
  background-color: black;
  color: white;
  border-radius: 16px;
  border: 2px solid black;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f6f2ef;
}

.movie {
  position: relative;
  background-color: #003554;
  color: white;
  width: 300px;
  margin: 15px;
  border-radius: 16px;
  overflow: hidden;
}

.card-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffa500;
}

.card-img-top {
  object-fit: cover;
  height: 400px;
  width: 300px;
  border-radius: 16px 16px 0 0;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  position: absolute;
  background-color: #f6f2ef;
  color: black;
  border-radius: 16px;
  max-height: 100%;
  overflow: auto;
  padding: 15px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  visibility: none;
  opacity: 0;
  transition: opacity 1s;
  border-style: solid;
  border-color: #003554;
}

.movie:hover .hide {
  visibility: visible;
  opacity: 90%;
}

.footer {
  background-color: #003554;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socialmedia {
  margin: 0 10px 10px 0;
}

